<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dazzlzy.springbootseed.mapper.user.UserMapper" >
  <resultMap id="UserBaseResultMap" type="com.dazzlzy.springbootseed.model.user.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="u_id" property="id" jdbcType="BIGINT" />
    <result column="u_login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="u_name" property="name" jdbcType="VARCHAR" />
    <result column="u_password" property="password" jdbcType="VARCHAR" />
    <result column="u_salt" property="salt" jdbcType="VARCHAR" />
    <result column="u_sex" property="sex" jdbcType="TINYINT" />
    <result column="u_age" property="age" jdbcType="TINYINT" />
    <result column="u_phone" property="phone" jdbcType="VARCHAR" />
    <result column="u_organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="u_status" property="status" jdbcType="TINYINT" />
    <result column="u_creator" property="creator" jdbcType="VARCHAR" />
    <result column="u_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="u_last_updator" property="lastUpdator" jdbcType="VARCHAR" />
    <result column="u_last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <association property="roleList" javaType="com.dazzlzy.springbootseed.model.user.Role"
                 resultMap="RoleBaseResultMap" ></association>
  </resultMap>

  <resultMap id="ResourceBaseResultMap" type="com.dazzlzy.springbootseed.model.user.Resource" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rc_id" property="id" jdbcType="BIGINT" />
    <result column="rc_name" property="name" jdbcType="VARCHAR" />
    <result column="rc_url" property="url" jdbcType="VARCHAR" />
    <result column="rc_description" property="description" jdbcType="VARCHAR" />
    <result column="rc_icon" property="icon" jdbcType="VARCHAR" />
    <result column="rc_pid" property="pid" jdbcType="BIGINT" />
    <result column="rc_seq" property="seq" jdbcType="TINYINT" />
    <result column="rc_resource_type" property="resourceType" jdbcType="TINYINT" />
    <result column="rc_status" property="status" jdbcType="TINYINT" />
    <result column="rc_creator" property="creator" jdbcType="VARCHAR" />
    <result column="rc_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="rc_last_updator" property="lastUpdator" jdbcType="VARCHAR" />
    <result column="rc_last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="RoleBaseResultMap" type="com.dazzlzy.springbootseed.model.user.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="r_id" property="id" jdbcType="BIGINT" />
    <result column="r_name" property="name" jdbcType="VARCHAR" />
    <result column="r_seq" property="seq" jdbcType="TINYINT" />
    <result column="r_description" property="description" jdbcType="VARCHAR" />
    <result column="r_status" property="status" jdbcType="TINYINT" />
    <result column="r_creator" property="creator" jdbcType="VARCHAR" />
    <result column="r_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="r_last_updator" property="lastUpdator" jdbcType="VARCHAR" />
    <result column="r_last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <association property="resourceList" javaType="com.dazzlzy.springbootseed.model.user.Resource"
                 resultMap="ResourceBaseResultMap" ></association>
  </resultMap>

  <sql id="user_column_sql">
    u.id as u_id,
    u.login_name as u_login_name,
    u.name as u_name,
    u.password as u_password,
    u.salt as u_salt,
    u.sex as u_sex,
    u.age as u_age,
    u.phone as u_phone,
    u.organization_id as u_organization_id,
    u.status as u_status,
    u.creator as u_creator,
    u.create_time as u_create_time,
    u.last_updator as u_last_updator,
    u.last_update_time as u_last_update_time
  </sql>

  <sql id="resource_column_sql">
    rc.id as rc_id,
    rc.name as rc_name,
    rc.url as rc_url,
    rc.description as rc_description,
    rc.icon as rc_icon,
    rc.pid as rc_pid,
    rc.seq as rc_seq,
    rc.resource_type as rc_resource_type,
    rc.status as rc_status,
    rc.creator as rc_creator,
    rc.create_time as rc_create_time,
    rc.last_updator as rc_last_updator,
    rc.last_update_time as rc_last_update_time
  </sql>

  <sql id="role_column_sql">
    r.id as r_id,
    r.name as r_name,
    r.seq as r_seq,
    r.description as r_description,
    r.status as r_status,
    r.creator as r_creator,
    r.create_time as r_create_time,
    r.last_updator as r_last_updator,
    r.last_update_time as r_last_update_time
  </sql>

  <sql id="selectUserByIds_where_sql">
    <where>
      <if test="ids != null and ids.size > 0">
        u.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
    </where>
  </sql>

  <sql id="queryByIdOrName_where_sql">
    <where>
      <if test="id != null">
        and u.id = #{id}
      </if>
      <if test="loginName != null">
        and u.login_name = #{loginName}
      </if>
    </where>
  </sql>

  <select id="selectUserByIds" resultMap="UserBaseResultMap">
    SELECT
    <include refid="user_column_sql"/>,
    from user u
    <include refid="selectUserByIds_where_sql"/>
  </select>

  <select id="queryByIdOrName" resultMap="UserBaseResultMap">
    SELECT
    <include refid="user_column_sql"/>
    FROM user u
    <include refid="queryByIdOrName_where_sql"/>
  </select>

  <select id="queryByPage" resultMap="UserBaseResultMap">
    SELECT
    <include refid="user_column_sql"/>,
    <include refid="role_column_sql"/>,
    <include refid="resource_column_sql"/>
    FROM user u
    LEFT JOIN user_role ur on u.id = ur.user_id
    LEFT JOIN role r on ur.role_id = r.id
    LEFT JOIN role_resource rr on r.id = rr.role_id
    LEFT JOIN resource rc on rr.resource_id = rc.id
    <include refid="queryByIdOrName_where_sql"/>
  </select>
</mapper>